/*Add padding and margin to space out the page.
Make the font larger too.*/
body{
	font-family: "Times New Roman", sans-serif;
	background-color: #000000;
	color: #ffffff;
	
	
}


/*Make the h1 heading bigger with a bold font*/
h1{
	font-size: 64px; 
	padding:10px;
	text-align: center;

}

/*Style the images*/
img{
	height: auto;
    width: 550px;;
	margin: auto;
	display: block;
	
}

/*Make the h2 heading match h1*/
h2{
	font-size: 32px; 
	
	text-shadow: 4px 4px 2px #808080;
	
}

/*Improve the spacing for paragraphs AND headings*/
p {
	padding-top: 15px;
	font-size: 24px;
}

/*Add borders around the main components and some
space too*/
header, nav, main, h1, footer{
	
	margin: 10px 0;
}


/* divs */
div{
	min-height: 150px;
	padding:25px;
}

#red{
	background-color: #FF0000;	
	text-align: right;
}
#blue{
	text-align: left;
	background-color: #0000FF;
	
}



#green{
	background-color:   #008000;
	text-align: left;



}
#yellow{
	text-align: right;
	background-color: #FFFF00;
	
}

#yellow p{
	color: #000000;
	
}

#yellow h2{
	color: #000000;
	text-shadow: 4px 4px 2px #c7e2c7;
}

footer p{
	padding-bottom: 10px;
	padding-right: 10px;
	text-align: center;
	padding-top: 0px;
	
	
}

/*Added this so the links stay the same color*/


